.car {
    width: 600px;
    height: 400px;
}
.btn{
    width: 100px;
    height: 100px;
    background-color: azure;
    border-radius: 20px;
    font-size: 20px;
    color: antiquewhite;
    display: block;
    margin: 50px 100px 150px;
}
.btn:hover {
    background-color: brown;
}
.btnhover ~ .car {
    display: none;
}